@charset "UTF-8";

@font-face {
    font-family: 'Sen', sans-serif;
    src: url(fonts/Sen-Regular.ttf);
}

@font-face {
    font-family: 'SenBold', sans-serif;
    src: url(fonts/Sen-Bold.ttf);
}

@font-face {
    font-family: 'SenExtraBold', sans-serif;
    src: url(fonts/Sen-ExtraBold.ttf);
}

::-webkit-scrollbar{
    display: none;
}

*{
    font-family: 'SenExtraBold', sans-serif;
}

body{
    background: url(rain.svg) no-repeat fixed;
    background-size: cover;
}

section{
    padding: 100px;
    color: white;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.450);
    border-radius: 100px;
    height: 75vh;
    width: 80vw;
    border: 3px solid rgb(245, 123, 144);
}

h1{
    font-family: 'SenExtraBold', sans-serif;
    font-size: 5rem;
    text-align: center;
    margin: -10px;
}

h2{
    font-family: 'SenBold', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

p{
    font-family: 'Sen', sans-serif;
    font-size: 2rem;
    padding: 50px;
    text-align: justify;
    font-weight: 500;
}

div.link{
    padding: 30px;
    display: flex;
    justify-content: center;
}

a{
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.600);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    box-shadow: 1px 3px 3px black;
}

a:hover{
    background-color: rgba(246, 95, 120, 0.594);
    color: white;
    font-weight: bold;
}